* {
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
}

button{
    border: none;
    cursor: pointer;
}

.top-bar{
    background-color: hsl(0, 0%, 90%);
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 10%;
    width: 80%;
    font-size: 12px;
}

.todays-news ul{
    display: flex;
    gap: 0.5rem;
    list-style: none;
}

.todays-news li:first-child {
    color:hsl(0, 100%, 40%);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.islands{
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.islands ul{
    display: flex;
    gap: 0.5rem;
    list-style: none;
}

.main-bar{
    display: flex;
    background-color: hsl(0, 100%, 40%);
    justify-content: space-between;
    padding: 1rem;
}

.header-icon-menu{
    margin-left: 105px;
    width: 45px;
}

.web-title{
    width: 17rem;
}

svg {
    fill: white;
}

.user-area{
    display: flex;
    margin-right: 3rem;
    align-items: center;
    gap: 0.5rem;
}

.user-area ul{
    display: flex;
}

.user-login{
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-login-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.7rem;
    padding: 0.5rem;
    height: 0.8rem;
}

.user-login-icon svg{
    width: 20%;
}

.user-login-icon h3{
    font-weight: 400;
    font-size: 0.8rem;
    width: 70%;
    white-space: nowrap;
}

.user-login button{
    border-radius: 3px;
    width: 7rem;
}

.user-register {
    margin-right: 50px;
}

.user-register-button{
    width: 80px;
    background-color: hsl(47, 100%, 50%);
    border-radius: 0.3rem;
    padding: 0px 10px;
    text-align: center;
    font-family: "Times New Roman",Times,serif;
    font-style: italic;
    font-weight: bold;
}

.main-menu{
    display: flex;
    background-color: hsl(0, 0%, 90%);
    justify-content: center;
    padding: 0.8rem;
    font-size: 0.95rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.main-menu ul {
    display: flex;
    list-style: none;
    gap: 2.3rem;
}

.home {
    width: 20px;
}

.magnify {
    width: 20px;
}

.news-block {

}

.ad{

}

.one-column {
    display: flex;
}

.news {
    display: flex;
}

.news-image {

}

.news-type {

}

.news-title {

}

.news-description {

}

.news-author {

}

.two-columns {
    display: flex;
    gap: 20px;
}

.three-columns {
    display: flex;
}

.four-columns {
    display: flex;
}

